<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>User Confirmed</title>
</head>
<body>
    <div class="jumbotron">
        <h3 class="h3"> Confirmed with success!</h3>

        <p class="card-text"> <strong>Thanks, the email: {{email}}  was confirmed!</strong></p>
        <p> {{login}} is activated </p>

    </div>


</body>
</html>